*{
    margin: 0px;
    padding: 0px;
}
.menu-container{
    background-color: rgb(32, 32, 32);
    padding: 20px;
    color: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.logo-photo{
    width: 150px;
}
.menus{
    display: flex;
}
.item{
    margin: 10px 10px 10px 10px;
    padding: 7px 7px 7px 7px;
    font-size: 18px;
}

/* bannner styles here  */
.banner-container{
    display: flex;
    align-items: center;
    justify-content:space-around;
    height: 100vh;
    color: white;
    background-image: url("./images/background.png"),linear-gradient(45deg,#000 ,#313131)
    ;
    background-position: center;
    background-repeat: no-repeat;
}
.title{
    font-size: 50px;
    font-weight: bold;
}
.describtion{
    font-size: 25px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.banner-photo{
    width: 500px;
}
.button{
    background-color: #ff0000;
    color: white;
    border-radius: 7px;
    padding: 20px 20px 20px 20px;
    border: none;
    font-size: 20px;
}

/* about styles here  */
.about-text{
    text-align: center;
    font-size: 60px;
    margin-top: 50px;
}
.about-container{
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
}
.about-des{
     font-weight:500 ;
     margin-top: 20px;
     margin-bottom: 20px;
}

